.WeatherHeader{
    height: 40vh;
    background: url('../../embeds/weathermapbg.png');
    background-size: cover;
    width: 100%;
}

.WeatherHeader h1{
    font-size: 23vh;
    float: left;
    color: white;
}